:root{
    --bg-color-red: #E41C24;
    --bg-color-black: #000000;
    --bd-color-gray: #F0EEF3; 
}
#backgroundHome{
    background-image: url('/image/background.jpg');
    width: 100%;
    height: 100vh;
    background-size: 100% auto;
}
.titleBackgroundHome{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.titleBackgroundHome p{
    max-width: 40%;
}
.nameCompany{
    color: var(--bg-color-red);
}
.navbar-nav {
    display: flex;
    justify-content: center;
}
#comments{
    padding: 50px;
    border-bottom: 1px var(--bg-color-black) solid;
}
.card-subtitle{
    color: var(--bg-color-red) !important;
}
#titleComments{
    text-align: center;
    padding-bottom: 50px;
}
.col-md-3{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.card-img-top{
    max-width: 100px;
    max-height: 100px;
}
.card{
    align-items: center;
}
.card-title{
    text-align: center;
}
#cardPlans{
    padding: 50px;
    background-color: var(--bd-color-gray);
    border-bottom: 1px var(--bg-color-black) solid;
}
.btn{
    background-color: var(--bg-color-red);
    color: var(--bg-color-black);
    font-weight: bold;
}
.titleCardPlans{
    color: var(--bg-color-red);
    text-align: center;
    padding-bottom: 50px;
}
.carousel{
    max-width: 80%;
}
.carousel-inner{
    padding: 50px;
}
#presentation{
    border-bottom: 1px var(--bg-color-black) solid;
}
#presentation .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titlePresentation h2{
    padding-top: 50px;
    color: var(--bg-color-red);
    font-weight: bold;
}
#questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: var(--bd-color-gray);
    border-bottom: 1px var(--bg-color-black) solid;
}
#questions .conteiner{
    max-width: 60%;
}
#titleQuestions{
    color: var(--bg-color-red);
    text-align: center;
    padding-bottom: 50px;
}
.mainNavFooter{
    display: flex;
    justify-content: space-between;
}
.title{
    color: var(--bg-color-red);
}
#team{
    padding: 50px;
    border-bottom: 1px var(--bg-color-black) solid;
}