.navbar-nav {
    display: flex;
    justify-content: center;
}
#comments{
    background-color: black;
    padding: 50px;
}
#titleComments{
    color: white;
    text-align: center;
    padding-bottom: 50px;
}
.col-md-3{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.card-img-top{
    max-width: 100px;
    max-height: 100px;
}
.card{
    align-items: center;
}
.card-body{
    align-items: center !important;
}